.input{
    height: 75px;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background-color: black;
    color: white;
    padding-left: 11px, 30px, 11px, 11px;
    margin: 1px solid #888;
    border: 3px solid rgb(0, 211, 28);
    padding-right: 20px;
}